@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');
body{
    font-family: 'Mulish', sans-serif;
    
    
}
.Travels-logo{
    display: flex;
    text-align: center;
    margin: 0;
    
    
}
.Travels-logo img{
           width: 40px;
           height: 70px;
           margin-top: 5px;
           
}
.Travels-logo h2{
    font-size: 40px;
    margin-top: 8px;
}
.Travels-logo span {
      font-size: 48px;
      color: #FF5400;
}
.nav-class{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
   
}
.option {
    
    align-items: center;
    width: 50%;
    display: flex;
    justify-content: space-between;
    
    

    
}
.option a{
    text-decoration: none;
}
.active{
    color: #FF5400;
}
.active:hover{
    background:rgba(61, 60, 60, 0.3);
    transition: .5s;
}
.checkbtn{
    position: absolute;
    right: 5%;
    font-size: 30px;
    color: black;
    cursor: pointer;
    
    display: none;
    
}
#check{
    display: none;
}
.banner{ 
    width: 1470px;
    height: 600px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 60px;
    
    
}
.banner-title{
    
    text-align: center;
    justify-content: center;
    padding-top: 100px;
    
}
.banner-title h1{
    color: #FFF;
font-size: 64px;
font-weight: 800;
padding-bottom: 0;
}
.banner-title p{
color: #FFF;
font-size: 16px;
padding-bottom: 0;


}
.boxes{
    width: 850px;
    height: 50px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
    margin-top: 60px;
    margin-left: 300px;
    align-items: flex-start;
    gap: 10px;
}
.box1{
    width: 178px;
height: 52px;
    border-radius: 8px;
background: #FFF;
}
.box2{
    width: 178px;
height: 52px;
    border-radius: 8px;
background: #FFF;
}
.box3{
    width: 178px;
height: 52px;
    border-radius: 8px;
background: #FFF;
}
.box4{
    width: 178px;
height: 52px;
    border-radius: 8px;
    background: #FF5400;
}
.main-section{
    padding: 0 50px;
    display: flex;

}
.suggest{
    width: 1440px;

}
.suggest button{
    width: 174px;
height: 52px;
font-size: 20px;
color: #FFF;
border-radius: 8px;
background: #FF5400;
}
.heading{
    color: #131318;

font-size: 40px;


}
.containt{
    width: 577px;
color: rgba(19, 19, 24, 0.70);
font-size: 22px;
}
.images img{
    width: 800px;
    height: 530px;
   margin-top: 35px;
}
.des-title{
    margin: 0;
}
.des-title h2{
    color: #131318;
text-align: center;
font-size: 40px;

}
.des-title{
    color: rgba(19, 19, 24, 0.70);

text-align: center;
font-size: 16px;
}
.img-container{
    width: 100%;
    height: 100%;
    padding: 0 50px;
}
.row1{
    display: flex;
    height: 300px;
    gap: 10px;
    margin: 10px;

}
.row2{
    display: flex;
    height: 300px;
    gap: 10px;
    margin: 10px;

}
.row3{
    display: flex;
    height: 300px;
    gap: 10px;
    margin: 1cqw;
}
.hight1{
    width: 725px;
}
.hight2{
    width: 725px;
}
.hight3{
    width: 450px;
}
.hight4{
    width: 680px;
}
.hight5{
    width: 310px;
}
.hight6{
    width: 530px;
}
.hight7{
    width: 910px;
}
.card-title h2{
    color: #131318;

    text-align: center;
    font-size: 40px;
    margin-bottom: 0;
  
    
}
.card-title p{
     color: rgba(19, 19, 24, 0.70);

text-align: center;
font-size: 16px;

}
.card-details{
    display: flex;
    justify-content: space-between;
}
.card-details h2{
    color: #131318;
font-size: 24px;
}
.card-details p{
    color: #5A5A5D;
font-size: 16px;
font-style: normal;

}
.hotel{
    width: 400px;
height: 200px;
padding:30px 30px;

border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);

background: rgba(251, 181, 99, 0.05);
margin-left: 300px;



}
.map{
    width: 400px;
height: 200px;
padding:30px 30px;

border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
margin-right: 300px;


}
.price h2{
    color: #131318;
font-size: 24px;

}
.price p{
    color: #5A5A5D;
font-size: 16px;
font-style: normal;
}
.price{
    width: 400px;
height: 200px;
padding:30px 30px;

border-radius: 16px;
border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
margin:0 560px;
margin-top: 14px;

}
.discount h2{
    color: #131318;

text-align: center;
font-size: 40px;
}
.discount p{
    color: rgba(19, 19, 24, 0.70);

text-align: center;

font-size: 16px;
}


hr{
    width: 350px;
    margin-top: 30px;
    height: auto;




}
.Newsletter{
    width:500px;
height: 438px;
border-radius: 16px;
border: 1px solid #FF5400;
margin-left: 50px;
display: flex;
}
.inp-box{
    display: block;
}
.Newsletter-title h3{
    color: #131318;
font-size: 24px;
}
.Newsletter-title p{
    color: #5A5A5D;
font-size: 16px;
}
.input-box{
    width: 393px;
height: 52px;
border-radius: 8px;
background:rgba(19, 19, 24, 0.05);
margin-bottom: 20px;
margin-top: 20px;



}
.new-button{
    width: 393px;
height: 52px;
border-radius: 8px;
background: #FF5400;
font-size: 20px;
color: #FFF;
}
.news-style{
    padding: 0 45px;
}
.img-sec img{
    width: 930px;
    height: 443px;
    margin-left: 40px;
}
.extra{
    width: 324px;
height: 120px;
transform: rotate(-28.628deg);
border-radius: 16px;
background: #FF5400;
justify-content: center;
text-align: center;
margin-left: 642px;
position: relative;
bottom: 210px;
}
.footer-section{

}
.Trav-logo{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    
    
}
.Trav-logo img{
           width: 30px;
           height: 40px;
           padding-left: 50px;
           margin-top: 20px;
        
           
}
.Trav-logo h2{
    font-size: 25px;
}
    
.Trav-logo span {
      font-size: 28px;
      color: #FF5400;
}
.twitter{
    width: 35px;
    height: 35px;
}
.face{
    width: 35px;
    height: 35px;
}
.insta{
    width: 35px;
    height: 35px;
}
.footer-section{
    justify-content: center;
    text-align: center;
}
.footer-head{
    color: #5A5A5D;

text-align: center;
font-size: 16px;
margin-top: 0px;
padding-top: 0px;
}
.footer-section hr{
    width: 800px;
}


@media screen and (max-width: 576px) {
    
    header{
        padding: 10px;
    }

    .checkbtn{
        display:inline-flex;
        margin-top: 30px;
    }
    
    .banner{
        width:85%;
        height: 110%;
        
       border-radius: 16px;
       position: absolute;
       z-index: z;
       
    }
    .boxes {
        flex-direction: column;
        margin-top: 0px;
        margin-left: 140px;
        width: 180px;
        height: 240px;

    }
     .row1, .row2, .row3{
        flex-direction: column;
    }
    .main-section{
        flex-direction: column;
        margin-top: 780px;
        width:100%;
    }
    .containt{
        width: 500px;
    }
    .images img{
        width: 500px;
        height: 500px;
    }
    .hight1, .hight2, .hight3,
    .hight4, .hight5, .hight6,
    .hight7{
        width: 500px;
        height: 300px;
    }
    .hight3{
      margin-top: 240px;
    }
    .hight6{
        margin-top: 860px;
    }
    .card-details{
        flex-direction:column;
    }
    
    .card-title{
        margin-top: 1100px;
    }
    .hotel{
        margin-left: 35px;
    }
    .map{
        margin-left: 35px;
        margin-top: 10px;
    }
    .price{
        margin-left: 35px;
    }
    .Newsletter{
        flex-direction: column;
    }
    .extra{
        width: 144px;
    height: 110px;
    transform: rotate(-28.628deg);
    border-radius: 16px;
    background: #FF5400;
    justify-content: center;
    text-align: center;
    margin-left: 342px;
    position: relative;
    bottom: 210px;
    }
    .img-sec img{
        width: 500px;
        margin-top: 45px;
        margin-left: 5px;
    }
    .footer-section{
        margin-top: 500px;
    }
}




